@page "/todos/add"

<PageTitle>Add a todo</PageTitle>

<h1>Add a todo</h1>

<EditForm method="post" Model="TodoItem" OnValidSubmit="CreateTodo" FormName="create-todo">
    <DataAnnotationsValidator />
    <div class="mb-2">
        <label for="summary">Summary</label>
        <InputText id="summary" @bind-Value="TodoItem.Summary" class="form-control" />
        <ValidationMessage For="() => TodoItem.Summary" />
    </div>
    <button class="btn btn-primary">Save</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public TodoItem TodoItem { get; set; } = new(){Summary = "Vacuum"};
    
    [Inject]
	public NavigationManager Nav { get; set; } = null!;

	public void CreateTodo()
	{
		TodosRepository.Todos.Add(TodoItem);
		Nav.NavigateTo("/todos");
	}
}