@page "/todos/add"

<PageTitle>Add a todo</PageTitle>

<h1>Add a todo</h1>

<EditForm method="post" Model="@_todoItem" OnValidSubmit="@AddTodo" FormName="addTodoForm">
    <DataAnnotationsValidator />
    <div class="mb-2">
        <label for="summary">Summary</label>
        <InputText @bind-Value=_todoItem.Summary class="form-control" />
        <ValidationMessage For="() => _todoItem.Summary" />
    </div>
    <button class="btn btn-primary">Save</button>
</EditForm>