

<div class="modal modal-blur fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Todo</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete "@_todoItem.Summary"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" hx-delete="/todos/delete/@_todoItem.TodoId">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Guid TodoId { get; set; }

    TodoItem _todoItem = null!;
    protected override void OnInitialized()
    {
        _todoItem = TodosRepository.Todos.First(t => t.TodoId == TodoId);

        base.OnInitialized();
    }
}