
<table class="table">
    <thead> 
        <tr>
            <th></th>
            <th>Summary</th>
        </tr>
    </thead>
    @foreach (var todo in _todos)
    {
        <tr>
            <td>
                @* Blazor SSR doesn't like the DELETE verb here *@
                <button class="btn btn-outline-secondary" hx-delete="/todos/list" hx-confirm="Are you sure you want to delete this todo?">Done</button>
            </td>
            <td>@todo.Summary</td>
        </tr>
    }
</table>

@code
{
    List<TodoItem> _todos = [];
    protected override void OnInitialized()
    {
        _todos = TodosRepository.Todos;

        base.OnInitialized();
    }


}