@page "/todos"

<PageTitle>Todos - List</PageTitle>

<h1>To Do List</h1>

<div class="my-3">
    <a href="/todos/add" class="btn btn-primary">Add a Todo</a>
</div>

<div hx-get="/todos/list" hx-trigger="load" id="todos-target">
    <div class="spinner-border m-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>