<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Summary</th>
        </tr>
    </thead>
    @foreach (var todo in _todos)
    {
        <tr id="row-@todo.TodoId">
            <td>
                <button class="btn btn-outline-secondary" hx-get="/todos/delete/modal/@todo.TodoId"
                    hx-target="#delete-modal-area" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </td>
            <td>@todo.Summary</td>
        </tr>
    }
</table>

<div id="delete-modal-area">
    <div class="modal modal-blur fade" tabindex="-1" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>


@code
{
    List<TodoItem> _todos = [];
    protected override void OnInitialized()
    {
        _todos = TodosRepository.Todos;

        base.OnInitialized();
    }
}