
<table class="table">
    <thead> 
        <tr>
            <th></th>
            <th>Summary</th>
        </tr>
    </thead>
    @foreach (var todo in _todos)
    {
        <tr>
            <td>
                <button class="btn btn-outline-secondary" 
                        hx-get="/todos/delete/modal" 
                        hx-target="#delete-modal-area"
                        data-bs-toggle="modal" 
                        data-bs-target="#modals-here"
                        name="todoId"
                        value="@todo.TodoId">Delete</button>
            </td>
            <td>@todo.Summary</td>
        </tr>
    }
</table>

<div id="delete-modal-area"
</div>

@code
{
    List<TodoItem> _todos = [];
    protected override void OnInitialized()
    {
        _todos = TodosRepository.Todos;

        base.OnInitialized();
    }
}