<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Summary</th>
        </tr>
    </thead>
    @foreach (var todo in _todos)
    {
        <tr>
            <td>
                <button class="btn btn-outline-secondary" hx-get="/todos/delete/modal/@todo.TodoId"
                    hx-target="#delete-modal-area">Delete</button>
            </td>
            <td>@todo.Summary</td>
        </tr>
    }
</table>

<div id="delete-modal-area">
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


@code
{
    List<TodoItem> _todos = [];
    protected override void OnInitialized()
    {
        _todos = TodosRepository.Todos;

        base.OnInitialized();
    }
}