<nav>
    <FluentNavLink Href="/" Match="NavLinkMatch.All" IconColor="Color.Accent">Home</FluentNavLink>
    <FluentNavLink Href="/todos" Match="NavLinkMatch.All" IconColor="Color.Accent">To Do</FluentNavLink>
</nav>
